<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      div{ display: inline-flex; } .c1,.c2{ height: 200px; width: 200px; } .c1{
      background-color: red; } .c2{ background-color: orange; }
    </style>
  </head>
  <body>
    student:{{student}}<br />
    class:{{class}}<br />

    <div class="div">
      <div class="c1"></div>
      <div class="c2"></div>
    </div>
  </body>
</html>